.Chat {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--lightdark);
}

.Chat hr {
  width: 100%;
  margin: 0;
  /* height: 3px; */
  padding: 1px;
  border: none;
  background-color: var(--moredark);
  box-shadow: 0px 3px 7px rgb(0, 0, 0, 0.75);
}

.ChatViewPort {
  display: flex;
  flex-direction: row;
}

.MessageContainer {
  height: calc(100vh - 62px);
  overflow-y: scroll;
  width: 100%;
}

.ChatMain {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.Spacer {
  height: 100px;
}

/* .MessageContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.MessageContainer::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.MessageContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
} */
